<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="public.css">
</head>
<body>
<div id="main">
	<div class="label">input array</div>
	<input type="text" class="rect">
	<div class="label">output array</div>
	<input type="text" class="rect" readonly>
	<input type="button" class="btn" value="Random">
</div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>
</html>